* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 1124px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  margin-left: 110px;
}

.container {
  display: flex;
}

.header__logo {
  padding: 30px 0 0 82px;
}

button {
  width: 80px;
  height: 40px;
}

.btn__white {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #1d1d1d;
  margin: 16px 0 0 603px;
}

.btn__black {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  background: #262626;
  border-radius: 2px;
  border: 0;
  margin: 16px 0 0 16px;
}

.header__basket {
  padding: 25px 0 0 27px;
}

.info {
  background: url(./assets/photo.png);
  background-repeat: no-repeat;
  width: 1124px;
  height: 364px;
  margin-left: 110px;
}

.info__title {
  position: absolute;
  width: 389px;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 0 81px;
}

.info__title h1 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  padding: 38px 0 0 38px;
}

.info__title p {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
  padding: 32px 0 0 38px;
}

.btn_black {
  width: 97px;
  height: 32px;
  border: 0;
  background: #262626;
  border-radius: 16px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
  margin: 25px 0 0 80px;
}

.line {
  width: 1122px;
  height: 80px;
  background: #ffffff;
  border: 1px solid rgba(117, 117, 117, 0.2);
  margin-left: 110px;
}

.line__title {
  display: flex;
  padding: 32px 0 0 50px;
}

.line__title p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  padding-left: 40px;
}

.line__title b {
  color: #327430;
}

.menu {
  padding: 56px 0 0 110px;
}

.menu h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}

.menu__title {
  margin: 48px 0 0 110px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 470px;
  height: 160px;
  mix-blend-mode: screen;
  background: rgba(117, 117, 117, 0.2);
  border: 1px solid rgba(117, 117, 117, 0.2);
}

.menu__title p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  padding: 16px 0 0 16px;
}

.block span {
  font-family: Roboto;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0 0 16px;
}

.block img {
  float: right;
}

.block__img {
  margin: 10px 60px 0 0;
}

.menu__title h4 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  margin: 58px 0 0 16px;
}

.block_1 {
  width: 470px;
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin-left: 16px;
}

.block_1 img {
  float: right;
}

.pay {
  padding-top: 25px;
}

.block_2 {
  width: 470px;
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 49px;
}

.block_2 img {
  float: right;
}

.block_3 {
  width: 470px;
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin: 49px 0 0 16px;
}

.block_3 img {
  float: right;
}

.block_4 {
  width: 470px;
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 49px;
}

.block_4 img {
  float: right;
}

.block_5 {
  width: 470px;
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  margin: 49px 0 0 16px;
}

.block_5 img {
  float: right;
}

.footer {
  width: 1124px;
  height: 443px;
  background: #262626;
  margin: 80px 0 0 110px;
}

.item img {
  padding: 54px 0 0 81px;
}

hr {
  width: 956px;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin: 40px 0 0 81px;
}

.footer__line {
  display: flex;
}

.footer__text {
  padding: 32px 0 0 81px;
}

.social {
  padding-top: 32px;
}

.footer__line p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  padding-top: 23px;
}
.footer__item {
  padding: 39px 0 0 97px;
}

.footer__block {
  padding: 39px 0 0 232px;
}

.item__line {
  display: flex;
  padding: 40px 0 0 81px;
}

.item__line p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
}

.line_1 {
  padding-left: 231px;
}

.line__2 {
  padding-left: 231px;
}
